@import 'bootstrap';
@import 'config';
html{
    height: 100%;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0 auto;
    line-height: 1.5;
    
    
}

//first screen

.header{
    height: 85vh;
    background-image: url('../img/wave_bg.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: left bottom;
    background-size: contain;

    &--bgColor{
        background-color: #648cff;
    }
    /* max-width: 100%;
    background-image: url('../img/firstscreen_bg.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;    
    background-size: contain;
 */
    &__links{
        margin-right: 10px;
        color: white;
    }
    &__btn1{
        color:white;
        &--bgColor{
            background: #fc6a42;
        }
    }
    &__btn2{
        color: white;
        &--bgColor{
            background:#4466c9 ;
        }
    }
   &__row2{
      text-align: left;
      margin-left: 1rem;
      .col-text{
          margin-top: 6vh;
      }
     
   }
   &__row3{
       background: url('../img/wave_bg.png');
   }

}


.my-link{
    color: white;
    font-size: 1rem;
    text-decoration: none;
    margin-right: 30px;
    padding: 0 20px;
    text-align: center;
    font-weight: 400;
}
.my-brand{
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    margin-right: 2rem;
    text-align: center;
    
}
//end of first screen

//featuers
.features{
    text-align: center;
    padding: 10vh 0;
    
    .col-4{
        margin-top: 10vh;
    }
}
//features bölümünde img ve card body flex=1 olup eşitleme
.card-horizontal{
    display: flex;
    flex: 1 1 auto;
}
//features

//simple widgets
.widgets{
    text-align: center;
    padding: 10vh 0;

    .col-10{
        margin-top: 5vh;
    }
}

.swiper-container{
    width: 100%;
    height: 100%; 
}

.swiper-slide{
    padding: 50px;
}
.swiper-slide img{
    
    
    
}
//SCREENSHOTS
.screenshots{
    text-align: center;
    padding: 10vh 0;

    &__row2{
        margin-top: 20vh;
    }


    //cardı telefonun ortasına hizalıyor
    .my-col{
        margin-top: 15vh;
    }
    .img-container{
        text-align: left;
        margin-bottom: 3rem;
        p{
            color:#999;
            font-size: 1.2rem;
            margin-bottom: 3rem;

        }
        h5{
            color:#648cff;
            font-size: 1.5rem;
        }
    }
}

//REVİEWS
.reviews{

}

//DOWNLOAD
.download{
    max-width: 100%;
    padding: 5rem;  
    height: auto;  
    background-image: url('../img/banner_bottom.png');
    background-repeat: no-repeat;        
    background-size: contain;
    background-position: right center;
    background-color: #648cff;
    
    
    
    .down{
        text-align: left;
        padding-top: 1.5rem;
        &__heading{
            font-size: 2rem;
            color: white;
            
        }
        &__text{
            color:#fff;
            font-size: 1rem;
            padding: 1rem 0;
            
        }
        &__google{
            background: url('../img/logo_google.png') no-repeat;  
            background-size: contain;  
            display: inline-block;                               
            border-radius: 10px;
            width: 150px;
            height: 150px;            
            text-decoration: none;
            
        }
        &__app{
            background: url('../img/logo_apple.png') no-repeat;            
            background-size: contain;
            display: inline-block;            
            width: 150px;
            height: 150px;            
            text-decoration: none;
            border-radius: 10px; 
        }
    }
}

//FOOTER
.footer{
    position: relative;
    padding: 2rem;
    background-color: #353854;
    margin-top: auto;
    .brand{        
        text-decoration: none;
        font-size: 1.2rem;
        margin-right: 2rem;
        text-align: center;

    }
    .f-link{
        color: white;
        font-size: .847rem;
        text-decoration: none;
        margin-right: 1rem;
        padding: 0 .9rem;
        text-align: center;
        font-weight: 400;
    }
    
    .very_bottom{
        max-height: 10vh;
        text-align: right;
        span{
            font-size:.600rem;
        
        }
        a{
            display: block;
            position: absolute;
            background:#434769; 
            right: 3rem;
            width: 30px;
            height: 30px;
            bottom:0;
            text-align: center;
            padding: 5px;
            
        }
    }
    .social-links{
        display: inline-block;        
        span{
            margin-right: 1rem;
        }
    }     

}
@import 'responsive';