@import 'bootstrap';
@import 'config';
html{
    height: 100%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0 auto;
    line-height: 1.5;
    color: white;
    
}


//first screen

.header{
    width: 100%;
    background-image: url('../img/wave_bg.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: right bottom;
    background-size: contain;
    padding:2rem 0;

    &--bgColor{
        background-color: #648cff;
    } 
    

    //ROW 1
    &__row1{
        
        
        &__brand{
            //color: #fff;
            font-size: 1.2rem;
            text-decoration: none;
            margin: 0 10vw;
                            
        }
        &__btn{
            &__toggler-icon{
                color: #fff;
            }
        }
        &__link{
            color: white;
            font-size: 1rem;
            text-decoration: none;
            margin-right: 30px;
            padding: 0 20px;
            
            font-weight: 400;
            &:hover{
                color: #10d621;
            }
            
        }
        &__dropdown{
            border: none;
            margin-left: 3rem;
            width: 5rem;
            background-color:rgba(252,106,66,0); 
            .dropdown-item{
                color: #fff;
                padding: .5rem;
            }
            
             
        }
        .dropdown-item:hover {
            color: #10d621;
            background: none;
            transition: all .5s ease-in-out;
            padding-left: 20px;
        }
        
    }
    //ROW 2
    &__row2{
        margin-top: 5rem;     
        &__col{   
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;      
            &__btn1{
                color:white;
                
                &--bgColor{
                    background: #fc6a42;
                }
            }
            &__btn2{
                color: white;
                
                &--bgColor{
                    background:#4466c9 ;
                }
            } 
        }     
    }      
}


//featuers
.features{
    text-align: center;
    padding: 10vh 0;
    
    .col-4{
        margin-top: 10vh;
    }
}
//features bölümünde img ve card body flex=1 olup eşitleme
.card-horizontal{
    display: flex;
    flex: 1 1 auto;
}
//features

//simple widgets
.widgets{
    text-align: center;
    padding: 10vh 0;
    
    .swiper-container{
       width: 100%;
       padding-top: 50px;
       transition: all 1s ease-out;
       .swiper-slide{
            width: 350px;
            height: 620px;
            filter: blur(3px);
            

            img{
                object-fit: contain;
                width: 100%;
                transition: all 1s ease-out;
            }
        }
        .swiper-slide-active{
            filter: blur(0px);
            transform: scale(1.2);
            background-color: #fff;
            img{
                transform: scale(1.2);
            } 
        }
        
    }
    
    
    
    
   

}


//SCREENSHOTS
.screenshots{
    text-align: center;
    padding: 10vh 0;

    &__row2,&__row3,&__row4{
        margin-top: 20vh;
    }


    //cardı telefonun ortasına hizalıyor
    .my-col{
        margin-top: 15vh;
    }
    .img-container{
        text-align: left;
        margin-bottom: 3rem;
        p{
            color:#999;
            font-size: 1.2rem;
            margin-bottom: 3rem;

        }
        h5{
            color:#648cff;
            font-size: 1.5rem;
        }
    }
}

//REVİEWS
.reviews{
  
}

//DOWNLOAD
.download{
    max-width: 100%;
    padding: 3rem 2rem;  
    //height: auto;  
    background-image: url('../img/banner_bottom.png');
    background-repeat: no-repeat;        
    background-size: contain;
    background-position: right bottom;
    background-color: #648cff;   
    
    &__col{
        text-align: left;
        &__heading{
            font-size: 2rem;
            margin: 0;
            padding: 0;
            color: white;
            
        }
        &__text{
            color:#fff;
            font-size: 1rem;
            padding: 1rem 0;            
        }
        &__google{
            background: url('../img/responsive/logo_google_mini.png') no-repeat;  
            background-size: contain;  
            display: inline-block;                               
            border-radius: 10px;
            width: 150px;
            height: 47px;            
            text-decoration: none;
            
        }
        &__app{
            background: url('../img/responsive/logo_apple_mini.png') no-repeat;            
            background-size: contain;
            display: inline-block;            
            width: 150px;
            height: 47px;            
            text-decoration: none;
            border-radius: 10px; 
        }
    }
}

//FOOTER
.footer{
    position: relative;
    padding: 2rem;
    background-color: #353854;
    margin-top: auto;
    &__row1{
        //FUN WEATHER
        &__col-brand{ 
            text-align: center;           
            a{        
                text-decoration: none;
                font-size: 1.2rem; 
                  
                      
            }
        }
        //MENU
        &__col-menu{ 
            text-align: center;           
            a{
                color: white;
                font-size: .847rem;
                text-decoration: none;
                margin-right: 1rem;
                padding: 0 .9rem;                
                font-weight: 400;
            }
        }
        

        &__social-links{
            display: inline-block;        
            span{
                margin-right: 1rem;
            }
        }

    }
    &__row2{
        &__very-bottom{
            max-height: 10vh;
            text-align: right;
            span{
                font-size:.600rem;
            
            }
            a{
                display: block;
                position: absolute;
                background:#434769; 
                right: 3rem;
                width: 30px;
                height: 30px;
                bottom:0;
                text-align: center;
                padding: 5px;            
            }
        }

    }
    
    
    
        

}
@import 'responsive';