doctype html
html(lang='en')
 head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  link(rel="stylesheet" href="../css/main.css")
  link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous")
  //-link(rel="stylesheet" href="../swiper/swiper-bundle.css" )
  link(rel="stylesheet" href="../swiper/swiper-bundle.min.css")
  
  title Weather App
body
  //-HEADER
  header.header.header--bgColor#scrollTop
    .container-fluid 
      //- HEADER PART 1
      .row.header__row1
        nav.navbar.navbar-expand-lg
          .container-fluid
            //- BRAND  
            .brand          
              a(class="header__row1__brand" href="#")
                span(style="color:#fff; margin-right:5px;") FUN 
                span(style="color:#fff") WEATHER 

            //- SOCIAL LİNKS 
            //- 992 >= üstünde iconlar ensağda olsun -- 992 den küçük olunca kendi sırasında menu elemanlarından önce gelir
            .d-flex.flex-row.order-lg-3.header__row1__social-links
              ul.navbar-nav.flex-row                
                li.nav-item 
                  a(href="#" class="nav-link text-white px-3")
                    i(class="fab fa-facebook")
                li.nav-item
                  a(href="#" class="nav-link text-white px-3")
                    i(class="fab fa-instagram")
                li.nav-item 
                  a(href="#" class="nav-link text-white px-3")
                    i(class="fab fa-twitter")

            
            //-HAMBURGER TOGGLE BUTTON
            button(class="navbar-toggler header__row1__btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#myNav" aria-controls="myNav" aria-expanded="false" aria-label="Toggle navigation")
              span.header__row1__btn__toggler-icon 
                i(class="fas fa-bars")

            //- 768>= üstünde menü elemanları iconlardan önce gelsin
            #myNav.collapse.navbar-collapse.order-2.order-lg-2
              ul.navbar-nav
                li.nav-item
                  a(class="header__row1__link active" aria-current="page" href="#") Home
                li.nav-item 
                  a(class="header__row1__link" aria-current="page" href="#") Features
                li.nav-item 
                  a(class="header__row1__link" aria-current="page" href="#") Reviwes 
                li.nav-item.dropdown  
                  a(class="header__row1__link dropdown-toggle" id="navbarScrollingDropdown"  href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false") Download
                  ul(class="header__row1__dropdown dropdown-menu" aria-labelledby="navbarScrollingDropdown")
                    li
                      a.dropdown-item(href="#") Link1
                    li
                      a.dropdown-item(href="#") Link2  
                    li
                      a.dropdown-item(href="#") Link3            


    //- HEADER PART 2
    .container
      .row.header__row2.text-center
        .col-md-6.header__row2__col
          .div
            h2 Get the most fun 
              br 
              |weather app 
            p Simple, nice and user-friendly application of the 
              br
              |weather.Only useful information
            
            button.header__row2__col__btn1.header__row2__col__btn1--bgColor.btn Download
            button.header__row2__col__btn2.header__row2__col__btn2--bgColor.btn Features
            
        .col-md-6
          .img-container 
            img(src="../img/phone_cloudy_1.png", alt="phone", srcset="" class="img-fluid")
      .scrolldown.text-center
        a(href="#screenshot") 
          img(src="../img/circle_scrolldown.png", alt="phone")
      
  //-SECTİON FEATURES
  section.features
    .container
      .row
        h2(style="color:#648cff;") PERFECT FEATURES
        h6(style="color:#999999;") Only neccesory
        .col-10.mx-auto.my-3 
          .row 
            .col-lg-4
              .card
                .card-horizontal
                  .img
                    img(src="../img/icon_usability.png")
                  .card-body
                    h5(class="card-title" style="color:#353854")  Usability 
                    p(class="card-text" style="color:#999") Sometimes the simplest things are the hardest to find. So we created a new line for everyday life
            .col-lg-4
              .card
                .card-horizontal
                  .img
                    img(src="../img/icon_usability.png")
                  .card-body
                    h5(class="card-title" style="color:#353854") Parallax Effect 
                    p(class="card-text" style="color:#999") Sometimes the simplest things are the hardest to find. So we created a new line for everyday life
            .col-lg-4
              .card
                .card-horizontal
                  .img
                    img(src="../img/icon_usability.png")
                  .card-body
                    h5(class="card-title" style="color:#353854") Unlimites Colors 
                    p(class="card-text" style="color:#999") Sometimes the simplest things are the hardest to find. So we created a new line for everyday life
  
  //-SECTİON WİDGETS
  section.widgets
    .container
      .row
        h2(style="color:#648cff;") SIMPLE WIDGETS
        h6(style="color:#999999;") Drap and Drop
      .row.widgets__row2
        .col-10.mx-auto       
          .swiper-container.mySwiper 
            .swiper-wrapper
              .swiper-slide
                img(src="../img/widget_center.png", alt="" class="img-fluid" )
              .swiper-slide
                img(src="../img/widget_left.png", alt="", class="img-fluid")
              .swiper-slide
                img(src="../img/widget_right.png", alt="",class="img-fluid")
              .swiper-slide
                img(src="../img/widget_center.png", alt="" class="img-fluid" )
              .swiper-slide
                img(src="../img/widget_left.png", alt="", class="img-fluid")
              .swiper-slide
                img(src="../img/widget_right.png", alt="",class="img-fluid")
                
            .swiper-pagination 
            .swiper-button-prev 
            .swiper-button-next

  //-SECTİON SCREENSHOTS
  section.screenshots#screenshot
    .container
      .row.screenshots_row1
        h2(style="color:#648cff;") SCREENSHOTS
        h6(style="color:#999999;") The brightest images 
      //-PHONE_CLOUDY
      .row.screenshots__row2
        .col-lg-6.screenshots__row2__col1
          img(src="../img/phone_cloudy_2.png", alt="", class="screenshots__row2__img")
        .col-lg-6.screenshots__row2__col2
          .card.border-0            
            .card-body
              .img-container.my-col 
                img(src="../img/icon_cloud.png", alt="")
              .img-container
                h5.card-title WHEN THE CLOUDS
                p Variable information on the air humidity, the
                  br
                  |feeling of the weather, and the ability to share 
                  br
                  |this with your friends
                img(src="../img/icon_percent.png", alt="", srcset="")
      //-PHONE_SUNNY
      .row.screenshots__row3
        .col-lg-6
          .card.border-0            
            .card-body(style="text-align:center;")
              .img-container.my-col 
                img(src="../img/circle.png", alt="")
              .img-container 
                h5.card-title WHEN THE SUN
                p Sometimes the simplest things are the hardest
                  br
                  |to find. So we created a new line for everyday
                  br
                  |life. Sometimes the simplest things are the
                img(src="../img/icon_percent.png", alt="", srcset="")
        .col-lg-6
          img(src="../img/phone_sunny2.png", alt="",class="screenshots__row3__img")

      //-PHONE_RAİNY
      .row.screenshots__row4
        .col-lg-6.screenshots__row4__col1
          img(src="../img/phone_rainy2.png", alt="",class="screenshots__row4__img")
        .col-lg-6.screenshots__row4__col2
          .card.border-0            
            .card-body
              .img-container.my-col 
                img(src="../img/icon_cloud2.png", alt="")
              .img-container 
                h5.card-title WHEN THE RAIN
                p Sometimes the simplest things are the hardest
                  br
                  |to find. So we created a new line for everyday
                  br
                  |life. Sometimes the simplest 
                img(src="../img/icon_percent.png", alt="", srcset="")
      
  //-REVIEWS
  section.reviews
    .container
      .row.text-center 
        h2(style="color:#648cff;") WHAT PEOPLE ARE SAYING
        h6(style="color:#999999;") Reviews  
      .row.mt-5
        .col-md-6.p-3.reviews__col
          img(src="../img/icon_quote.png" class="img-fluid reviews__col__imgl")
          blockquote.blockquote.d-flex.flex-column
            p(style="color:#b3b5bf;") What art offers is space - a certain breathing room for the spirit. 
            small(style="color:#b3b5bf;") John Updike          
            img(src="../img/icon_quote2.png" class="img-fluid align-self-end reviews__col__imgr")

        .col-md-6.p-3.reviews__col
          img(src="../img/icon_quote.png" class="img-fluid reviews__col__imgl")
          blockquote.blockquote.d-flex.flex-column
            p(style="color:#b3b5bf;") We do not see nature with our eyes, but with our understandings and our hearts. 
            small(style="color:#b3b5bf;") William Hazlit
            img(src="../img/icon_quote2.png" class="img-fluid align-self-end reviews__col__imgr")

        .col-md-6.p-3.reviews__col
          img(src="../img/icon_quote.png" class="img-fluid reviews__col__imgl")
          blockquote.blockquote.d-flex.flex-column
            p(style="color:#b3b5bf;") The only courage that matters is the kind that gets you from one moment to the next. 
            small(style="color:#b3b5bf;") Mignon McLaughlin
            img(src="../img/icon_quote2.png" class="img-fluid align-self-end reviews__col__imgr")

        .col-md-6.p-3.reviews__col
          img(src="../img/icon_quote.png" class="img-fluid reviews__col__imgl")
          blockquote.blockquote.d-flex.flex-column
            p(style="color:#b3b5bf;") No man has a good enough memory to be a successful liar. 
            small(style="color:#b3b5bf;") Abraham Lincoln 
            img(src="../img/icon_quote2.png" class="img-fluid align-self-end reviews__col__imgr")

 

  //-DOWNLOAD
  section.download
    .container-md
      .row 
        .col-10.download__col
          h2.download__col__heading HOW DOWNLOAD THE APP?
          p.download__col__text Simple, nice and user-friendly application of the 
          a(href="#" class="download__col__google")
          a(href="#" class="download__col__app")
        
        
  
  footer.footer
    .container-fluid
      .row.footer__row1
        nav
          .container-fluid        
            .row
              .footer__row1__col-brand.col-lg-4
                a(href="#")
                  span(style="color:#fc6a42") FUN 
                  span(style="color:#648cff") WEATHER 
              .footer__row1__col-menu.col-lg-8
                a(class="active" aria-current="page" href="#") Home
                a( aria-current="page" href="#") Features
                a(aria-current="page" href="#") Reviwes 
                a( aria-current="page" href="#") Downlod 
                .footer__row1__social-links                
                  span
                    i(class="fab fa-facebook")
                  span
                    i(class="fab fa-instagram")
                  span
                    i(class="fab fa-twitter")
      
      hr.container-fluid.mt-5
      .row.footer__row2
        .col-10.pt-3.pb-3.footer__row2__very-bottom
          span © 2021 All rights reserved. Weather App Theme by Gravpix
          a(href="#scrollTop")
            i(class="fas fa-angle-up" style="color:white;")


  
  script(src="../js/popper.js")  
  script(src="../js/jquery-3.3.1.min.js")  
  script(src="../swiper/swiper-bundle.min.js")
   
  
  script(src="../js/bootstrap.js") 
  script(src="../js/swiper.js") 